body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: #4d636f;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.navbar a:hover {
    background-color: #f2f3f777;
    border-radius: 5px;
}
